{% extends "base.html" %}

{% block head %}
<title>404 - Not Found</title>
{% endblock %}

{% block content %}
<container class="flex flex-ai-c flex-fill-height bg-grey">
<div class="patientdb flex flex-jc-c container--wrapper">
        <div class="patientdb__card text-align-center container--all">
        <h1>404 - Not Found!</h1>
        <hr>
        <p class="container--pb-sm">{{ e }}</p>
        <a href="{{ back_link }}" class="">
                    <input type="button" class="container--input-padding" value="Back"></a>
        </div>
    </div>
</container>
{% endblock %}