{% extends "base.html" %}

{% block head %}
<title>500 - Internal Server Error</title>
{% endblock %}

{% block content %}
<div class="patientdb flex flex-jc-c container--wrapper">
    <div class="patientdb__card text-align-center container--all">
    <h1>500 - Internal Server Error!</h1>
    <hr>
    <p class="container--pb-sm">{{ e }}</p>
    <a href="{{ back_link }}" class="">
                <input type="button" class="container--input-padding" value="Back"></a>
    </div>
</div>
</container>
{% endblock %}