PatientDB is a simple web app that stores patient information, able to edit the information, and able to query the database to display the patient details.

PatientDB is built using Python with the Flask framework with a PostgreSQL database. The search feature uses Elasticsearch engine which indexes patient details.

Database Models:
insert picture of database models here and explain why is this the case

-highlight diagnosis functionality

Inserting Data:
Before inserting data PatientDB checks if there are similar patients already in the database and returns similar results which then offers a set of choices to continue or not.
At first the diagnosis table is empty and users are able to add their own diagnosis.

Textarea field:
DEMO:
Gif

Technoligies Used:
Flask
Jquery
SASS
Elasticsearch

