{% extends "base.html" %}


{% block head %}

<title>Add Patient</title>

{% endblock %}

{% block content %}

<container class="display-block flex-fill-height bg-grey">
    <div class="flex flex-auto-height bg-grey">
    <div class="flex-jc-c patientdb container--all">
    <div class="patientdb__card container--wrapper-lg">
        <form method="post" class="container--all" id="general_data_form">
            <h3 class="container--margin-bottom-sm">General Data</h3>
            {% for field in form %}

            {% if field.name == "first_name" %} <div class="flex flex-flex-wrap"> {% endif %}
            {% if field.name == "birthday" %} <div class="break"></div>{% endif %}
            <dd
                {% if field.name in ["first_name", "last_name", "middle_name", "name_suffix", "email_address", "phone_number"] %}
                class="flex-flex-grow" {% endif %}
            >

                {% if field.name in ["gender", "birthday"] %}
                    {{ field.label }}
                {% endif %}            
            {{ field(class="container--input-padding container--margin-bottom-sm") }}</dd>
            {% if field.name == "gender" %} <div class="break"></div>{% endif %}
            {% if field.name == "phone_number" %} </div> {% endif %}
            {% endfor %}
            
            <dd><input id="general_data_submit" class="container--input-padding" type="submit" value="Submit"></dd>
            <p class="container--margin-bottom-sm">&#128542; No connection to elasticsearch. Please wait after submitting.</p>
            <p id="messages_from_ajax" style="display: none;"></p>
        </form>
        
        <div id="table_similar_patients"></div>


    </div>
    </div>
    </div>
</container>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery_csrf_and_textareaheight.js') }}"></script>

{% endblock %}