{% extends "base.html" %}


{% block head %}
<title>Edit Patient</title>
{% endblock %}

{% block content %}
<container class="display-block flex-fill-height bg-grey">
    <div class="bg-grey">
    <div class="flex flex-jc-c patientdb container--all">
    <div class="patientdb__card container--wrapper">

        <form method="POST" class="container--all" action="{{ url_for('main.patient_update', id=patient.id) }}">
            <a href="{{ referrer }}" class="inline-block inline-block-float-right">
                <input type="button" class="container--input-padding" value="Back">
            </a>
            <h3 class="container--margin-bottom-sm">General Data</h3>
            
            {% for field in form %}
                <div class="tooltip">
                    <dd>{{ field(class="container--input-padding container--margin-bottom-sm") }}</dd>      
                    <span class="tooltiptext">{{ field.label }}</span>
                </div>
            {% endfor %}

            <h3 class="container--margin-bottom-sm">History</h3>
            <p class="note container--pb-sm">Note: Use spaces for indents. (4 spaces = 1 tab)</p>
            {% for field2 in form2 %}
                <div class="tooltip">
                    <dd>{{ field2(class="container--input-padding container--margin-bottom-sm", onkeyup="textAreaAdjust(this)")}}</dd>
                    <span class="tooltiptext">{{ field2.label }}</span>
                </div>
            {% endfor %}
            <dd><input class="container--input-padding" type="submit" value="Submit"></dd>
        </form>

    </div>
    </div>
    </div>
</container>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/jquery_csrf_and_textareaheight.js') }}"></script>


{% endblock %}