{% extends "base.html" %}

{% block head %}
<title>Results</title>
{% endblock %}

{% block content %}

    {% for patient in patients %}
        {% set v = patient.__dict__ %}
        {% for val in v.values() %}
            {{ val }}
            <br>
        {% endfor %}
        {{ patient.history.hpi }}
        <br>
    {% endfor %}

    total hits: {{ total }}

    <section class="patientdb">
    <div class="patientdb__card container--all container--wrapper">
        <div class="patientdb__image"></div>
        <h1 class="container--margin-bottom-sm">PatientDB</h1>
        <form action="{{ url_for('main.search') }}" method="get">
            <input class="container--margin-bottom-sm container--input-padding" 
                type="text" name="query" id="" placeholder="Search...">
            <input class="container--input-padding" type="submit" value="Submit">
        </form>
    </div>
    </section>

{% endblock %}