.has-fade {
  visibility: hidden; }

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0; }
  1% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: visible;
    opacity: 1; } }

.fade-in {
  animation: fade-in 300ms ease-in-out forwards; }

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1; }
  99% {
    visibility: visible;
    opacity: 0; }
  to {
    visibility: hidden;
    opacity: 0; } }

.fade-out {
  animation: fade-out 300ms ease-in-out forwards; }

html {
  font-size: 100%;
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.5; }
  body.noscroll {
    overflow: hidden; }

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0; }

a, a:visited, a:hover {
  text-decoration: none;
  color: #E9EAEC; }

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
  .container--pt {
    padding-top: 1.5rem; }
  .container--pb {
    padding-bottom: 1.5rem; }
  .container--all {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .container--wrapper {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto; }
  .container--margin-bottom-sm {
    margin-bottom: 0.5rem; }
  .container--input-padding {
    padding: 0.1875rem 0.4375rem 0.1875rem 0.4375rem; }

.flex {
  display: flex; }
  @media (min-width: 64rem) {
    .flex {
      flex-direction: row; } }
  @media (max-width: 63.9375rem) {
    .flex {
      flex-direction: column; } }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-jc-c {
    justify-content: center; }
  .flex-ai-c {
    align-items: center; }
  .flex-jc-fs {
    justify-content: flex-start; }
  .flex-fd-row {
    flex-direction: row; }
  .flex-fill-height {
    height: calc(100vh - 50px); }

@media (max-width: 63.9375rem) {
  .hide-for-mobile {
    display: none; } }

@media (min-width: 64rem) {
  .hide-for-desktop {
    display: none; } }

.header {
  position: sticky;
  top: 0px; }
  .header.open .header__toggle > span:first-child {
    transform: rotate(45deg); }
  .header.open .header__toggle > span:nth-child(2) {
    opacity: 0; }
  .header.open .header__toggle > span:last-child {
    transform: rotate(-45deg); }
  .header .overlay {
    opacity: 0;
    position: fixed;
    top: 3.125rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#E9EAEC, transparent); }
  .header nav {
    position: relative;
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
    background-color: #333652;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .header__logo {
    width: 8.6875rem;
    height: 1.75rem; }
  .header__toggle > span {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #E9EAEC;
    transition: all 300ms ease-in-out;
    transform-origin: 1px 1px; }
    .header__toggle > span:not(:last-child) {
      margin-bottom: 5px; }
  .header__menu {
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translate(-50%);
    background: #333652;
    padding: 1.625rem;
    border-radius: 5px;
    margin-top: 1.5rem;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .header__menu a {
      display: block;
      color: #333652;
      padding: .635rem;
      text-align: center;
      transition: color 300ms ease-in-out; }
      .header__menu a:hover {
        color: #FAD02C; }
  .header__links a {
    transition: color 300ms ease-in-out;
    position: relative; }
    .header__links a:not(:last-child) {
      margin-right: 2.5rem; }
    .header__links a::before {
      position: absolute;
      content: "";
      display: block;
      height: 3px;
      left: 0;
      right: 0;
      background-color: #FAD02C;
      bottom: -17px;
      opacity: 0;
      transition: opacity 300ms ease-in-out; }
    .header__links a:hover {
      color: #FAD02C; }
      .header__links a:hover::before {
        opacity: 1; }

.hero {
  background-color: #F6F6F6; }
  @media (min-width: 64rem) {
    .hero {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center; } }
  .hero__hello {
    text-align: center; }
    .hero__hello h1 {
      font-size: 2.25rem;
      font-weight: 600; }
      @media (min-width: 64rem) {
        .hero__hello h1 {
          font-size: 3.375rem; } }
  .hero__text {
    font-size: 0.875rem;
    font-weight: 300;
    text-align: center; }
  .hero__image {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center; }
    @media (min-width: 64rem) {
      .hero__image {
        background-image: url("../svg/Circles.svg");
        background-size: contain;
        min-width: 5.25rem;
        min-height: 2.5rem; } }
    @media (max-width: 63.9375rem) {
      .hero__image {
        background-image: url("../svg/serverimage.svg");
        min-height: 3.5rem;
        min-width: 3.25rem; } }
  .hero__hello {
    color: #FAD02C;
    font-size: 2.25rem; }

.patientdb {
  flex: auto;
  background-image: radial-gradient(circle, #E9EAEC, #F6F6F6); }
  @media (min-width: 64rem) {
    .patientdb {
      flex: 1; } }
  .patientdb__card {
    position: relative;
    width: 18.75rem;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 300ms ease-in-out;
    width: 80%;
    border-radius: 5px; }
    .patientdb__card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  .patientdb h1 {
    font-size: 1.125rem;
    color: #333652; }
  .patientdb input[type=text] {
    width: 100%;
    background-color: #E9EAEC;
    border: 1px solid #E9EAEC;
    border-radius: 5px;
    transition: all 300ms ease-in-out; }
    .patientdb input[type=text]:focus {
      border: 1px solid #A9A9A9;
      outline: none;
      background-color: #F6F6F6; }
  .patientdb input[type=button] {
    border: 0;
    font-size: 0.75rem;
    font-weight: 300;
    color: #E9EAEC;
    background-color: #6C63FF;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease-in-out; }
    .patientdb input[type=button]:hover {
      opacity: 0.8; }
  .patientdb__image {
    position: absolute;
    top: -6.1875rem;
    height: 6.1875rem;
    width: 6.125rem;
    background-image: url("../svg/cardvector.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
