html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-sm;
    line-height: 1.5;
    color: $verydarkGray;

    ::placeholder {
        font-family: 'Public Sans', sans-serif;
    }
    &.noscroll {
        overflow: hidden;
    }
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    font-size: $font-vsm;
    margin: 0;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: $lightGray;
}
.bg-grey {
    background-image: radial-gradient(circle, $lightGray, $veryLightgray);
}

// change patientdb card bg to lightgrey
div.bg-lightgrey {
    background-color: $veryLightgray;
    color: $verydarkGray;
}

// Spacing
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &--pt {
        padding-top: 1.5rem;
    }

    &--pb {
        padding-bottom: 1.5rem;
    }

    &--pb-sm {
        padding-bottom: 0.5rem;
    }

    &--pr {
        padding-right: 1.5rem;
    }

    &--pl {
        padding-left: 1.5rem;
    }

    &--all {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    &--wrapper {
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }

    &--wrapper-lg {
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }

    &--margin-bottom-sm {
        margin-bottom: 0.5rem;
    }

    &--margin-bottom {
        margin-bottom: 1.5rem;
    }

    &--margin-right {
        margin-right: 0.75rem;
    }

    &--margin-left {
        margin-left: 0.75rem;
    }

    &--margin-left-sm {
        margin-left: 0.25rem;
    }

    &--margin-top {
        margin-top: 1.325rem;
    }

    &--input-padding {
        padding: 0.1875rem 0.4375rem 0.1875rem 0.4375rem;
    }
}
// flexbox
.display-block {
    display: block;
}
.flex {
    display: flex;

    &-bp {
        @include breakpoint-up(large) {
            flex-direction: row;
        }

        @include breakpoint-down(medium) {
            flex-direction: column;
        }        
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-jc-fs {
        justify-content: flex-start;
    }
    &-fd-row {
        flex-direction: row;
    }
    &-fill-height {
        height: calc(100vh - 50px);
    }
    &-auto-height {
        height: auto;
    }
    &-flex-grow {
        flex: 1 0 35%;
        @include breakpoint-down(small){
            flex: 1 0 50%;
        }
    }
    &-flex-wrap {
        flex-wrap: wrap;
    }
}
//flex break
.break {
    flex-basis: 100%;
    height: 0;
}

// visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

// others

.search-bar {
    width: 18vh;
}

:focus-visible {
    outline:none;
}

dd {
    @include breakpoint-down(medium){
        margin-left: 0.1rem;
    }
    margin-left: 1.25rem;
}

.inline-block {
    display: inline-block;

    &-float-right {
        float: right;
    }
}

// text formatting
.text-align-center {
    text-align: center;
}



.justify {
    @include breakpoint-down(medium){
        margin-left: 0;
    }
    margin-left: 1.875rem;
    text-align: justify;
    text-justify: inter-word;
}

label {
    font-size: $font-vsm;
}

p.note {
    font-style: italic;
    
    &--float-r {
        float: right;
        color: $brightPurple;
    }
}

p.history {
    white-space: pre-wrap;
}
