html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-sm;
    line-height: 1.5;

    ::placeholder {
        font-family: 'Public Sans', sans-serif;
    }
    &.noscroll {
        overflow: hidden;
    }
}
h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: $lightGray;
}
.bg-grey {
    background-image: radial-gradient(circle, $lightGray, $veryLightgray);
}

// Spacing
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &--pt {
        padding-top: 1.5rem;
    }

    &--pb {
        padding-bottom: 1.5rem;
    }

    &--pb-sm {
        padding-bottom: 0.5rem;
    }

    &--pr {
        padding-right: 1.5rem;
    }
    &--pl {
        padding-left: 1.5rem;
    }
    &--all {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    &--wrapper {
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }
    &--margin-bottom-sm {
        margin-bottom: 0.5rem;
    }

    &--margin-right {
        margin-right: 0.75rem;
    }

    &--margin-left {
        margin-left: 0.75rem;
    }

    &--input-padding {
        padding: 0.1875rem 0.4375rem 0.1875rem 0.4375rem;
    }
}
// flexbox
.display-block {
    display: block;
}
.flex {
    display: flex;

    &-bp {
        @include breakpoint-up(large) {
            flex-direction: row;
        }

        @include breakpoint-down(medium) {
            flex-direction: column;
        }        
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-jc-fs {
        justify-content: flex-start;
    }
    &-fd-row {
        flex-direction: row;
    }
    &-fill-height {
        height: calc(100vh - 50px);
    }
    &-auto-height {
        height: auto;
    }
}

// visibility
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

.search-bar {
    width: 18vh;
}

.text-align-center {
    text-align: center;
}

dd {
    margin-left: 1.25rem;
}

