.tooltip {
    position: relative;
    &--message {
        position: static;
    }
}

.tooltip .tooltiptext {
    @include breakpoint-down(medium) {
        padding: 2px;
        font-size: $font-tenpx;
        width: 4.5rem;
        right:100%;
    }
    position: absolute;

    z-index: 1;

    top: 0;
    right: 98%;

    width: 8.125rem;
    background-color: black;
    color: #fff;
    font-size: $font-vsm;
    text-align: center;
    padding: 3px;
    border-radius: 4px;
    opacity: 0;
    transition: 400ms ease-in-out;

    &--message {
        opacity: 1;
        top: 40%;
        left: 38%;
        right: 0;
        width: 20rem;
        z-index: 2;

    }
    &--help {
        left: 52.5%;
        top: -43px;
        margin-left: -60px;
        width: 24.125rem;
    }
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

textarea {
    overflow: hidden;
}

input.datalist {
    width: 100%;
    border-radius: 3px;
    border: 1px solid $darkGray;
    padding: 4px;
    font-size: 12px;
    font-family: inherit;
}

form.diagnosis_datalist {
    flex: 2;
    margin-right: 0.3125rem;
}


