.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    position: absolute;

    z-index: 1;

    top: 0;
    right: 97%;

    width: 8.125rem;
    background-color: black;
    color: #fff;
    font-size: $font-tenpx;
    text-align: center;
    padding: 3px 0;
    border-radius: 4px;
    opacity: 0;
    transition: 400ms ease-in-out;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

textarea {
    overflow: hidden;

}

