table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  .table_display_none {
    display: none;
  }

  p {
    font-size: $font-vsm;
  }

  h4 {
    color: $darkGray;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;

    &:first-child {
      text-align: left;
      width: 2.5rem;
    }
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 1023px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;

      &:first-child{
        text-align: right;
        width: 100%;
      }
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

.not_found_image {
  position: relative;
  height: 6.875rem;
  opacity: 0.99;
  margin: auto;
  background-image: url("../svg/not_found.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

  .pagination {
    a {
      color: black;
      font-size: $font-vsm;
      padding: 4px 8px;
      transition: background-color 300ms;
      border: 1px solid $darkGray;

      &:hover {
        background-color: $darkGray;
        }
      }
      &__disabled {
        display: none;
      }
    }
