// Colors
$darkBlue: #333652;
$lightGray: #E9EAEC;
$yellow: #FAD02C;
$purple: #404153;
$veryLightgray: #F6F6F6;
$darkGray: #A9A9A9;
$brightPurple: #6C63FF;

// font sizes
$font-tenpx: 0.625rem;
$font-vsm: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18 px
$font-lg: 2.25rem; // 36px
$font-vlg: 3.375rem; // 54px
// font weights imported light:300, regular:400, semi-bold:600
